@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;


}

.formContainer {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5886e8;
  border-radius: 5px;
  margin-top: 1rem;
  height: 60px;
  background-color: $primary-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  font-display: bold;
}

.button:hover {
  background-color: $primary-color-transparent;
}

.form {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  textarea {
    border-radius: 5px;
    resize: none;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    padding: 0.5rem;
  }

  @include mediumMax {
    align-items: stretch;
    width: 100%;
  }

  @include mediumMax {
    label {
      margin-top: 0.5rem;
    }
  }
}

.errorMessage {
  min-height: 1.5rem;
  margin-top: 1rem;
  color: red;
}