@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  @include medium {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 240px);
  }
}
